<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.george.dao.Studentdao">
	<resultMap id="stu" type="com.george.pojo.Student">
		<id column="stuid" property="stuid" jdbcType="VARCHAR" />
		<result column="stuname" property="stuname" jdbcType="VARCHAR" />
		<result column="pwd" property="pwd" jdbcType="VARCHAR" />
		<result column="schoolid" property="schoolid" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="classes" type="com.george.pojo.Classes">
		<id column="classesid" property="classesid" jdbcType="INTEGER" />
		<result column="courseid" property="courseid" jdbcType="INTEGER" />
		<result column="teacher" property="teacher" jdbcType="VARCHAR" />
		<result column="time" property="time" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="layout" property="layout" jdbcType="VARCHAR" />
		<result column="path" property="path" jdbcType="VARCHAR" />
		<result column="classesname" property="classesname" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="questions" type="com.george.pojo.Questions">
		<id column="questionid" property="questionid" jdbcType="INTEGER" />
		<result column="classesid" property="classesid" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="week" property="week" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="answers" type="com.george.pojo.Answers">
		<id column="questionid" property="questionid" jdbcType="INTEGER" />
		<id column="stuid" property="stuid" jdbcType="VARCHAR" />
		<result column="stuname" property="stuname" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
	</resultMap>

	<select id="stu_login" resultType="String" parameterType="java.util.Map">
		SELECT
		pwd FROM student where stuid=#{stuid,jdbcType=VARCHAR}
	</select>
	<insert id="stu_registerdao" parameterType="com.george.pojo.Student">
		insert into student
		(stuid, stuname, pwd, schoolid,email)
		values
		(#{stuid,jdbcType=VARCHAR},#{stuname,jdbcType=VARCHAR},#{pwd,jdbcType=VARCHAR},#{schoolid,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR})
	</insert>
	<select id="stu_getclasses" resultMap="classes" parameterType="String">
		select * from classes where courseid in(select courseid from
		course_stu where stuid=#{stuid,jdbcType=VARCHAR})
	</select>
	<select id="stu_getname" resultType="String" parameterType="String">
		select stuname from Student where stuid=#{stuid,jdbcType=VARCHAR}
	</select>
	<insert id="stu_selectsite" parameterType="com.george.pojo.Site">
		insert into site
		(stuid, stuname, classesid,layout,week)
		values
		(#{stuid,jdbcType=VARCHAR},#{stuname,jdbcType=VARCHAR},#{classesid,jdbcType=INTEGER},#{layout,jdbcType=VARCHAR},#{week,jdbcType=VARCHAR})
	</insert>
	<insert id="stu_answer" parameterType="com.george.pojo.Answers">
		insert into answers
		(stuid, stuname, content,questionid)
		values
		(#{stuid,jdbcType=VARCHAR},#{stuname,jdbcType=VARCHAR},#{content,jdbcType=INTEGER},#{questionid,jdbcType=VARCHAR})
	</insert>
	<select id="stu_getquestions" resultMap="questions"
		parameterType="Map">
		select * from questions where
		classesid=#{classesid,jdbcType=INTEGER} and
		week=#{week,jdbcType=VARCHAR} 
	</select>
	<select id="stu_getanswers" resultMap="answers" parameterType="Map">
		SELECT *
		FROM answers where
		questionid=#{questionid,jdbcType=INTEGER} and stuid=#{stuid,jdbcType=VARCHAR}
	</select>
		<insert id="addcourse" parameterType="Map"
		useGeneratedKeys="true" keyProperty="id">
		insert into course_stu (stuid,
		courseid)values(#{stuid,jdbcType=VARCHAR},#{courseid,jdbcType=VARCHAR})
	</insert>
</mapper>